{{!-- Profile button to be moved into header bar --}}
<div>
  <button class="btn btn-primary position-relative float-right mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Profile details</button>
</div>


{{!-- Expandable side panel --}}
<main class="profile-body">
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h4 id="offcanvasRightLabel">{{name}}</h4>
    </div>
    <div class="offcanvas-body">
      <p>{{username}}</p>
      <p>{{email}}</p>
      <p>{{address}}</p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Upload image</h5>
    <div class="card-body">
      <p class="card-text">Upload new artwork for others to see</p>

      <form class="image-upload-form" enctype="multipart/form-data" id="form" method="POST" action="/api/user/upload">
        {{!-- <input type="text" name="name" placeholder="name" id="name"> --}}
        <input type="file" name="image" id="image" accept="image/*">
        <input class="btn btn-primary" type="submit" id="submit">

      </form>
    </div>
  </div >
  <div class="mt-4">
    <h4>Your posts</h4>
    <div class="card-group">
  <div class="card m-1">
    <img class="card-img-top h-100" src="./images/artwork1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Coming soon</h5>
    </div>
  </div>
  <div class="card m-1">
    <img class="card-img-top h-100" src="./images/artwork2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Coming soon</h5>
    </div>
  </div>
  <div class="card m-1">
    <img class="card-img-top h-100" src="./images/artwork3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Coming soon</h5>
    </div>
  </div>
  </div>
</div>
  </div>
  </div>

  {{!-- Section to come where users own artwork is displayed --}}
  {{#each art as |artwork|}}
  <h2>{{name}}</h2>
  <img src="{{image}}" alt="{{name}}">
  {{/each}}
</main>

<script src="./js/profile.js"></script>
{{!-- <script src="./js/upload.js"></script> --}}