{{!-- Profile button to be moved into header bar --}}
<button class="btn btn-primary float-righ r-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Profile</button>

{{!-- Expandable side panel --}}
<main class="profile-body">
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h4 id="offcanvasRightLabel">{{name}}</h4>
    </div>
    <div class="offcanvas-body">
      <p>{{username}}</p>
      <p>{{email}}</p>
      <p>{{address}}</p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Upload image</h5>
    <div class="card-body">
      <p class="card-text">Upload new artwork for others to see</p>
      <form class="image-upload-form" enctype="multipart/form-data" id="form">
        <input type="text" name="name" placeholder="name" id="name">
        <input type="text" name="image" placeholder="image" id="image">
        <input class="btn btn-primary"type="submit" id="submit">
      </form>
    </div>
  </div>
  {{!-- Section to come where users own artwork is displayed --}}
  {{#each art as |artwork|}}
  <h2>{{name}}</h2>
  <img src="{{image}}" alt="{{name}}">
  {{/each}}
</main>

<script src="./js/profile.js"></script>
<script src="./js/upload.js"></script>